body{
    background-color: aquamarine;
    text-align: center;
}

p{
    font-size: 50px;
}

h1{
    font-size: 100px;
}

.links{
    font-size: 25px;
}

#feed{
    font-size: 25px;
}

h3{
    font-size: 30px;
}

#log{
    background-color: yellowgreen;
    width: 490px;
    border-radius: 30px;
    position:absolute;
    left:500px;
    top: 1px;
    height: 80px;
}